<%= form_for [@school, @teacher] do |f| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>
  </div>

  <div class="field">
    <%= f.label :grade_level %>
    <%= f.text_field :grade_level %><br>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
