<!-- school#show -->
  <!-- School Name and Static Map -->
<div class="center-static">
	<h3><%= @school.text %></h3>
	<div class="image">
		<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap&markers=#{@school.latitude}%2C#{@school.longitude}&key=#{ENV['GOOGLE_API_KEY']}"%>
	</div>

<!-- Review Content -->
  <div class="features">
		<article>
			<div class="inner">
        <% if @school.reviews.any? %>
          <h4>Schoool Reviews</h4>
          <% @school.reviews.each do |review| %>
            <p><%=  review.title %></p>
            <p><%=  review.content %></p>
            <p>By: <%=  review.author %></p>
            <% if review.user_id == current_user.id %>
              <%= link_to "Edit", edit_school_review_path(@school, review.id) %>
              <%= link_to "Delete", school_review_path(@school, review.id), method: "delete" %>
            <% end %>
						<hr>
          <% end %>
          <br>
        <% else %>
          <p>Be the first to review <%= @school.text %></p>
        <% end %>
			</div>
		</article>

	<!-- New School Review Link -->
    <%= link_to "New Review", new_school_review_path(@school) %>
    <hr>

<!-- Teacher Content -->
		<div class="features">
			<article>
				<div class="inner">
	        <% if @school.teachers.any? %>
	          <h4>Teachers</h4>
	          <% @school.teachers.each do |teacher| %>
							<%= link_to school_teacher_path(@school, teacher) do %>
	            <p><%=  teacher.first_name %></p>
							<% end %>
	            <% if teacher.user_id == current_user.id %>
	              <%= link_to "Edit", edit_school_teacher_path(@school, teacher.id) %>
	              <%= link_to "Delete", school_teacher_path(@school, teacher.id), method: :delete %>
	            <% end %>
							<hr>
	          <% end %>
	          <br>
	        <% else %>
	          <p>Be the first to add teacher to <%= @school.text %></p>
	        <% end %>
				</div>
			</article>

		<!-- New Teacher Link -->
	    <%= link_to "New Teacher", new_school_teacher_path(@school) %>

		<hr>
    <%= link_to 'Back', root_path %>
  </div>
</div>
